@charset "utf-8";
/* CSS Document */

/************ GERAL ************/

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	margin:0;
}

.left{
	float:left;	
}

.right{
	float:right;
}

.clear{
	clear:both;
}

*{
	box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.container{
	width:100%;
	max-width:960px;
	margin:0 auto;	
	padding:0 2%;
	}

a{
	text-decoration:none;
}

span.clear{
	display:block;	
}

/************ HEADER TOP ************/

#top{
	top:0;
	left:0;
	width:100%;
    margin-bottom: 2em;
}

#logo{
	margin:0 auto;
}

#logo h1{
    margin: 0;
}

#logo img{
    width:65%;
    margin: 1em 0 1em 2em;
    
}

#social_networks{
	margin-top:2em;
	margin-right:4em;
}

#social_networks img{
    width:25%;
}

#main_menu{
	text-align:center;
	text-transform:uppercase;
	border-bottom:solid 0.2em #000;
	border-top:solid 0.2em #000;
	padding:1em 0;
    margin-bottom: 2em;
}

#main_menu a{
	margin-right:4em;
	padding-bottom:0.2em;
	transition:0.2s;
	color:#000;
}

#main_menu a:last-child{
	margin-right:0;
}

#main_menu a:hover{
	border-bottom:solid 0.2em #000;
	font-weight:bold;
}

#mobile_menu{
    display: none;
}




/************ HOME ************/

#intro{
	display:block;
	margin-top:2em;
	margin-bottom:2em;
}

.intro_text{
	text-align:center;
}

.intro_text h1{
	text-transform:uppercase;
	font-weight:lighter;
	font-size:2em;
}

.intro_text p{
	font-size:1.5em;
	color:#999;
}

#intro_image img{
	width:100%;
	margin-bottom:2em;
}

.btn_1{
	color:#FFF;
	background-color:#000;
	padding:1em;
	text-transform:uppercase;
	border-radius:5px;
	transition:0.2s;
}

.btn_1:hover{
	color:#000;
	background-color:#FFF;
	border-radius:0;
	border-bottom:solid 0.2em #000;
	border-top:solid 0.2em #000;
}

/************ ABOUT ************/

#about h1{    
    text-align:center;
	text-transform:uppercase;
	font-weight:lighter;
	font-size:2em;
}

#about p{
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: center;
}

#about_img{
    width: 100%;
    margin-left: 0;
    margin-bottom: 2em;
}

#about_img img{
    width: 100%;
}
/************ TECH SPECS ************/

#intro_specs{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

#article_intro_specs{
    width:100%;
	margin:1% auto;
	display:inline-block;
	border-top:solid 0.2em #FFF;
	background-color:#CCC;
	border-radius:5px;
    padding: 3% 2%;
}



#intro_specs h1{
    text-align:center;
	text-transform:uppercase;
	font-weight:lighter;
	font-size:2em;
}

#intro_specs p{
    margin: 0;
    padding: 0;
}

#intro_specs_text{
	width:70%;
	margin:auto;
	float:right;
}

#intro_specs_image{
    margin: 0 auto;
}

#intro_specs_image img{
    width:25%;
	border-radius:5px;
	float:left;
}

/********** SPECS TABS *********/

#specs_tabs {
    margin: 0 auto;
    width: 100%; 
    text-align: left;
}

#specs_tabs input {
	height: 2.5em;
	visibility: hidden;
}

#specs_tabs label {
	background: #f9f9f9;  
	border-radius: .25em .25em 0 0;
	color: #888;  
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;  
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

#specs_tabs input:hover + label {
	background:#CCC;  
	color: #666;
    font-weight: normal;
}

#specs_tabs input:checked + label {
	background: #f1f1f1;  
	color: #444; 
	position: relative;
	z-index: 6;    
    font-weight: bold;
}

#content {
	background: #f1f1f1;  
	border-radius: 0 .25em .25em .25em;
	position: relative;
	width: 100%;
	z-index: 5;
}

#content div {
	padding: 1.5em;
    display: none;
}

#content-1 p {
	clear: both;
	margin-bottom: 1em;
}
#content-1 p.left img {
	float: left;
	margin-right: 1em;
}
#content-1 p.last {
	margin-bottom: 0;
}

#content-2 p {
	float: left;
	width: 48.5%;
}
#content-2 p.column-right {
	margin-left: 3%;
}
#content-2 p img {
	display: block;
	margin: 0 auto 1em auto;
}

#specs_tabs input#tab-1:checked ~ #content #content-1,
#specs_tabs input#tab-2:checked ~ #content #content-2 {
    display: block;
}

input.visible {
  visibility: visible !important;
}

.table1{
    width: 100%;
}

.table1 th, td{
    padding: 1em 1.5em    ;
}

/************ ACCESSORIES ************/

#accessories{
	margin-top:5%;
	margin-bottom:5%;
    width: 100%;
}

#accessories h1{
	text-align:center;
	text-transform:uppercase;
	font-weight:lighter;
	font-size:2em;
}

.article_accessories{
	width:100%;
	margin:1% auto;
	display:inline-block;
	border-top:solid 0.2em #FFF;
	background-color:#CCC;
	border-radius:5px;
    padding: 3% 2%;
}

#accessories h2{
    margin: 0;
}

.accessories_image{
	margin:0;
}

.accessories_image img{
	width:33%;
	border-radius:5px;
	float:left;
}

.accessories_text{
	width:62%;
	float:right;	
}

.accessories_text p{
    margin-bottom: 0;
}

.btn_buy{
	background-color:#000;
    padding:1% 10%;
	color:#FFF;
	font-size:1em;
	border-radius:5px;
	border-bottom:solid 0.2em #000;
	border-top:solid 0.2em #000;
	border-left:none;
	border-right:none;
	text-transform:uppercase;
    display: inline-block;
}

.btn_buy:hover{
	color:#000;
	background-color:#CCC;
	border-radius:0;
	border-bottom:solid 0.2em #000;
	border-top:solid 0.2em #000;
}

/************ CREATORS ************/

#creators{
	margin-top:5%;
	margin-bottom:5%;
    width: 100%;
}

#creators h1{
	text-align:center;
	text-transform:uppercase;
	font-weight:lighter;
	font-size:2em;
}

.article_creators{
	width:100%;
	margin:1% auto;
	display:inline-block;
	border-top:solid 0.2em #FFF;
	background-color:#CCC;
	border-radius:5px;
    padding: 3% 2%;
}

#creators h2{
    margin: 0;
}

.creators_image{
	margin:0;
}

.creators_image img{
	width:35%;
	border-radius:5px;
	float:left;
}

.creators_text{
	width:60%;
	float:right;
}

.creators_text p{
    margin-bottom: 0;
}

/************ SUPPORT/HELP ************/

#support {
	margin:2em 0 2em 0;
}

#support h1{
	text-align:center;
	text-transform:uppercase;
	font-weight:lighter;
	font-size:2em;
}

#article_support{
	background-color:#CCC;
	text-align:center;
	border-radius:10px;
	padding:5%;
}

#titulo_form{
	margin:0;	
}

.form_element{
	width:100%;
	margin-bottom:10px;
	border-radius:5px;
	padding:5px;
	border:1px solid #999;
	font-size:18px;
}

textarea.form_element{
	height:100px;
	resize:vertical;
}

.btn_send{
	background-color:#000;
	padding:7px 50px;
	color:#FFF;
	font-size:1em;
	border-radius:5px;
	margin-top:20px;
	border-bottom:solid 0.2em #000;
	border-top:solid 0.2em #000;
	border-left:none;
	border-right:none;
	text-transform:uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn_send:hover{
	color:#000;
	background-color:#CCC;
	border-radius:0;
	border-bottom:solid 0.2em #000;
	border-top:solid 0.2em #000;
}

/************ FOOTER ************/

#footer{
    border-top: solid 0.2em #000;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 1em 0;
    margin-top: 5em;
}

/* TABLET */

@media only screen and (max-width:900px){
    #logo{
        padding-left: 1em;
    }
    
    #logo img{
        margin-left:0;
    }
    
        #social_networks{
            margin-right: 0;
        width: 35%;
        padding-right: 2em;
        
    }
    

    #social_networks img{
        float: right;
        width: 15%;
        margin-left: .25em;
    }
    
    
	#main_menu{
		display:none;
	}
    
    /* mobile menu*/
    
    #mobile_menu a{
        text-transform: uppercase;
        font-weight: lighter;
        font-weight: 1em;
        
    }
    
    .dropbtn {
    text-transform: uppercase;
    font-weight: lighter;
    font-weight: 1em;
    background-color: #fff;
    color: #000;
    padding: 1em;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-bottom: .2em solid #000;
    border-top: .2em solid #000;
    }

    #mobile_menu {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .dropdown-content {
        text-align: center;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 100%;
    }

    .dropdown-content a {
        color: black;
        padding: 12px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    #mobile_menu:hover .dropdown-content {
        display: block;
    }

    #mobile_menu:hover .dropbtn {
        background-color: #fff;
    }
    
     #mobile_menu:hover .dropbtn {
         background-color: #fff;
         font-weight:bold;
    }
    
	/*************** MOBILE ************/

@media only screen and (max-width:480px){
    
    body{
        font-size: 14px;
    }
    
    #top{
        margin-bottom: .5em;
        width: 100%;
    }
    
    #logo{
        width: 45%;
        margin: .5em auto;
    }
    
    #logo img{
        width: 100%;
        padding-left: .5em;
        margin: .5em auto;
    }
    
    
    #social_networks{
        width: 45%;
        margin-right: 0;
        
    }
    

    #social_networks img{
        float: right;
        width: 20%;
        margin-left: .25em;
    }
    
    
    #main_menu{
        display: none;
    }
    
    #mobile_menu{
        display: block;
    }
	
	
    /***** TECH SPECS *****/
    
    #intro_specs{
	text-align: center;
    }

    #article_intro_specs{
        padding: 7% 5%;
    }

    #intro_specs_image img{
        width:100%;
        margin: 0 auto 7% auto;

    }

    #intro_specs_text{    
	width:100%;
	float:none;
	text-align: left;
}
    
    /***** ACCESSORIES *****/
    
    #accessories{
	text-align: center;
}

    .article_accessories{
        padding: 7% 5%;
    }

    .accessories_image img{
        width:100%;
        float:none;
            margin: 0 auto 7% auto;
    }

    .accessories_text{
        float:none;
        width: 100%;
    }
    
    .accessories_text p{
        text-align: left;
    }
    
    .accessories_text h2{
        text-align: left;
    }
    
    .btn_buy{
        float: none;
        margin: auto;
        display: block;
        width: 50%;
        padding: 3% 5%;
    }
    
    
    /***** CREATORS *****/
    
    #creators{
        text-align: center;
    }
    
    .article_creators{
        padding: 7% 5%;
    }
    
    .creators_image img{
	   width:100%;
        float: none;
        margin: 0 auto 7% auto;
        
}
    
    .creators_text{
            float:none;
            width: 100%;
            text-align: left;
    }
    
    /***** SUPPORT ****/
    
    .form_element{
        margin: 1% 0;
    }
        
    
}




